:root {
  --background-color: #FCF8F4;
  --text-color: #333333;
  --h3-color: #AE7F92;
  --footer-bk-color: #434343;
}

html {

}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  font-size: 16px;

}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.9em;
  font-weight: 700;
  margin: 0 0 0 0;
  color: var(--h3-color);
}

body p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: var(--text-color);
}

.site-container {
  max-width: 1280px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0;
  padding-bottom: 20px;
  background-color: var(--background-color);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  border: 1px;
}

.content-right {

}

.content-image-right img {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  /* padding-left: auto;
  padding-right: 0px; */
  index: 0;
  /* clear: left; */
}

.content-image-left img {

  margin-left: 0px;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  /* padding-left: auto;
  padding-right: 0px; */
  index: 0;
  /* clear: left; */
}

.left-content {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 48px;
  position: absolute;
  top: 970px
}

.right-content {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 628px;
  position: absolute;
  top: 1660px
}

.content-description {
width: 577px;
height: 288px;
z-index: 5;
margin: 0 0 0 0;
padding-left: 15px;
background-color: rgba(255, 255, 255, 0.85);
/* rgba: (255, 255, 255, 0.85); */
}

.content-overview {
  width: 723px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 124px;
}

.footer {
  max-width:1280px;
  height: 260px;
  margin-left:auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: var(--footer-bk-color);
  clear: both;
}
